{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}} | UDA</title>
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/uda-small.png' %}">
        
        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body class="auth-body-bg">
        <div>
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4">
                        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                            <div class="w-100">
                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                        <div>
                                            <div class="text-center">
                                                <div>
                                                    <a href="{% url 'dashboard' %}" class="">
                                                        <img src="{% static 'images/uda-logo-blue.png' %}" alt="" height="45" class="auth-logo logo-dark mx-auto">
                                                        <img src="{% static 'images/uda-logo.png' %}" alt="" height="45" class="auth-logo logo-light mx-auto">
                                                    </a>
                                                </div>
    
                                                <h4 class="font-size-18 mt-4">Reset Password</h4>
                                                <!-- <p class="text-muted">Reset your password to Nazox.</p> -->
                                            </div>

                                            <div class="p-2 mt-5">
                                                <form action="{% url 'reset_pass' %}" id="reset_pass" method="POST" enctype="multipart/form-data" class='needs-validation' onsubmit="return check_pass();" novalidate>
                                                    {% csrf_token %}
                                                    <div class="mb-3 auth-form-group-custom mb-4 form-group">
                                                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                        <div id="div_id_password" class="form-group">
                                                            <label for="user_password" class=" requiredField">
                                                                New Password<span class="asteriskField">*</span>
                                                            </label>
                                                            <div class="">
                                                                    <input type="password" name="new_password" placeholder="Enter your new password" id="new_password" class="form-control textinput textInput" maxlength="50" minlength="5" required="">
                                                                    <div class="invalid-feedback">New Password is Required && Minimum 5 characters required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 auth-form-group-custom mb-4 form-group">
                                                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                        <div id="div_id_password" class="form-group">
                                                            <label for="user_password" class=" requiredField">
                                                                Confirm Password<span class="asteriskField">*</span>
                                                            </label>
                                                            <div class="">
                                                                    <input type="password" name="con_password" placeholder="Confirm your password" id="con_password" class="form-control textinput textInput" maxlength="50" minlength="5" required="">
                                                                    <div class="invalid-feedback">Confirm Password is Required && Minimum 5 characters required</div>
                                                                    <span id="err_msg" class="form-text" style="color: #ff3d60;""></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="module" value="reset_password">
                                                    <input type="hidden" name="hidden_id" value="{{hid_id}}">
                                                    <div class="mt-4 text-center">
                                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit" id="reset_send">Reset</button>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="mt-5 text-center">
                                                <p>Don't have an account ? <a href="{% url 'auth-login'%}" class="fw-medium text-primary"> Log in </a> </p>
                                                <p>Copyright © <script>document.write(new Date().getFullYear())</script> Utah Dental Association.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="authentication-bg">
                            <div class="bg-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

    </body>
</html>
<script>
    $(document).on("keyup","#new_password,#con_password",function(){
        $("#err_msg").html("")
    });
    function check_pass(){
        var new_password=$("#new_password").val()
        var con_password=$("#con_password").val()
        if(new_password!='' && con_password!=''){
            if(new_password!=con_password){
                $("#err_msg").html("New password and confirm password mismatch")
                return false;
            }
            else{
                return true;
            }
        }
    }
</script>
