{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}


<link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

<!-- Sweet Alert-->
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

<style>
    p.doc-name {
        color: #000;
        /* color: #494c57; */
        font-size: 20px;
        margin: 0;
        font-weight: bold;
        text-align: left;
        /* line-height: 50px; */
        font-family: arial;
        text-transform: capitalize;
        text-transform: uppercase;
    }

    p.doc-title {
        color: #000;
        margin: 3px 10px 0 3px;
        line-height: 24px;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
    }

    .webView {
        padding: 20px 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        max-width: 1000px;
        margin: 30px auto 30px;
        /* min-width: 800px; */
        position: relative;
        min-height: 297mm;
        background: #fff;
        /* overflow: scroll; */
    }

    .qrCont {
        padding: 20px;
        /* border: 1px solid #ddd; */
        border-radius: 5px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
        height: 100%;
    }

    div.page-title-box {
        display: none !important;
    }

    @page {
        size: A4;
        /* margin: 0; */
        background: #fff !important;
    }

    @media print {
        strong {
            font-weight: 400 !important;
        }

        html,
        body {
            width: 210mm;
            height: 297mm;
            background: #fff !important;
            /* font-size: 12pt !important; */
        }

        /* body * {
            font-size: 2em;
        } */
    }

    @media (max-width: 767px) {
        .webViewlogo {
            height: 35px !important;
        }

        .qrCont {
            padding: 20px 0 !important;
        }

        p.doc-name {
            font-size: 15px;
        }

        p.doc-title {
            font-size: 14px;
            line-height: 19px;
        }
    }
</style>

{% endblock extra_css %}
{% block content %}

<div class="page-header">
    <!-- <div class='justify-content-end d-flex w-100 align-items-center flex-wrap'>
        <div class='mt-sm-0 mt-3'>
            <a href="#!" class="btn btn-sm btn-primary btn-icon px-3 me-2">
                <span>
                    <i class="mdi mdi-download me-1"></i>
                </span> Download
            </a>
            <button class="btn btn-sm btn-success btn-icon px-3" onclick="printDiv('printableArea')">
                <span>
                    <i class="mdi mdi-printer me-1"></i>
                </span> Print
            </button>
        </div>
    </div> -->

</div>

<div class='webView'>
    <div class="row">
        <div class="col-lg-6" style='margin-bottom: 25px;'>
            <div class='qrCont'>
                <img class='webViewlogo d-block' src="/static/images/head-logo-black.png"
                    style='height: 45px;margin: 0 auto 20px;' alt="Logo">
                <div>
                    <div class='text-center'>
                        <img src="/static/images/sampleQR.png" style='height: 150px;' alt="">
                        <p class='doc-name text-center mt-2'>DR. DARRELL VOORHEES</p>
                        <p class='doc-title text-center'>Doctor</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style='margin-bottom: 25px;'>
            <div class='qrCont'>
                <img class='webViewlogo d-block' src="/static/images/head-logo-black.png"
                    style='height: 45px;margin: 0 auto 20px;' alt="Logo">
                <div>
                    <div class='text-center'>
                        <img src="/static/images/sampleQR.png" style='height: 150px;' alt="">
                        <p class='doc-name text-center mt-2'>DR. PAUL INNIS</p>
                        <p class='doc-title text-center'>Doctor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Print View -->
<div id='printableArea' class="d-none">
    <div class='printView' style='page-break-after:always'>
        <table border="0" align="center" cellpadding="0" cellspacing="0"
            style='margin: 10px auto;width: 100%; min-width: 800px;max-width: 1000px;margin: 0 auto;background: #fff;'>
            <tbody>
                <tr>
                    <td class='text-start' style='width: 50%;padding-bottom: 15px; padding-top: 15px;'>
                        <div class="col-lg-6"
                            style='margin-bottom: 35px;width: calc(50% - 15px);float: left;margin-right: 10px;'>
                            <div class='qrCont'
                                style='padding: 30px 25px !important;box-shadow: none !important; border: 1px solid #ddd; border-radius: 5px;'>
                                <img class='webViewlogo d-block' src="/static/images/head-logo-black.png"
                                    style='height: 55px !important ;margin: 0 auto 20px;' alt="Logo">
                                <div>
                                    <div class='text-center'>
                                        <img src="/static/images/sampleQR.png" style='height: 160px;' alt="">
                                        <p
                                            style='color: #000;font-size: 22px;margin: 0;font-weight: bold;text-align: center;text-transform: capitalize;text-transform: uppercase;'>
                                            DR. DARRELL VOORHEES</p>
                                        <p
                                            style='color: #000;margin: 3px 10px 0 3px;line-height: 24px;font-size: 19px;font-weight: 400;text-align: center;'>
                                            Doctor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6"
                            style='margin-bottom: 35px;width: calc(50% - 15px);float: left;margin-left: 10px;'>
                            <div class='qrCont'
                                style='padding: 30px 25px !important;box-shadow: none !important; border: 1px solid #ddd; border-radius: 5px;'>
                                <img class='webViewlogo d-block' src="/static/images/head-logo-black.png"
                                    style='height: 55px !important;margin: 0 auto 20px;' alt="Logo">
                                <div>
                                    <div class='text-center'>
                                        <img src="/static/images/sampleQR.png" style='height: 160px;' alt="">
                                        <p
                                            style='color: #000;font-size: 22px;margin: 0;font-weight: bold;text-align: center;text-transform: capitalize;text-transform: uppercase;'>
                                            DR. DARRELL VOORHEES</p>
                                        <p
                                            style='color: #000;margin: 3px 10px 0 3px;line-height: 24px;font-size: 19px;font-weight: 400;text-align: center;'>
                                            Doctor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}

{% block extra_javascript %}

<!-- Sweet Alerts js -->
<script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}"></script>


<script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

<!-- Form validation -->
<script src="{% static 'js/pages/form-validation.init.js' %}"></script>

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
    setTimeout(() => {
        printDiv("printableArea")
    }, 3000);
</script>


{% endblock extra_javascript %}