{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<!-- Sweet Alert-->
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<style>
    .page-content {
        overflow: auto !important;
        min-height: 100vh;
    }
</style>
{% endblock extra_css %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-white border-bottom d-flex align-items-center justify-content-between">
                <h4 class="card-title mb-0">Exhibitor Registrations List</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pagination mt-0 mb-4 alphaUl">
                            <li class="active ms-0 singleall"><a href="javascript:void(0);" data-id="all">All</a></li>
                            <li><a class="singlenamesearch" data-id="A" href="javascript:void(0);">A</a></li>
                            <li><a class="singlenamesearch" data-id="B" href="javascript:void(0);">B</a></li>
                            <li><a class="singlenamesearch" data-id="C" href="javascript:void(0);">C</a></li>
                            <li><a class="singlenamesearch" data-id="D" href="javascript:void(0);">D</a></li>
                            <li><a class="singlenamesearch" data-id="E" href="#">E</a></li>
                            <li><a class="singlenamesearch" data-id="F" href="#">F</a></li>
                            <li><a class="singlenamesearch" data-id="G" href="#">G</a></li>
                            <li><a class="singlenamesearch" data-id="H" href="#">H</a></li>
                            <li><a class="singlenamesearch" data-id="I" href="#">I</a></li>
                            <li><a class="singlenamesearch" data-id="J" href="#">J</a></li>
                            <li><a class="singlenamesearch" data-id="K" href="#">K</a></li>
                            <li><a class="singlenamesearch" data-id="L" href="#">L</a></li>
                            <li><a class="singlenamesearch" data-id="M" href="#">M</a></li>
                            <li><a class="singlenamesearch" data-id="N" href="#">N</a></li>
                            <li><a class="singlenamesearch" data-id="O" href="#">O</a></li>
                            <li><a class="singlenamesearch" data-id="P" href="#">P</a></li>
                            <li><a class="singlenamesearch" data-id="Q" href="#">Q</a></li>
                            <li><a class="singlenamesearch" data-id="R" href="#">R</a></li>
                            <li><a class="singlenamesearch" data-id="S" href="#">S</a></li>
                            <li><a class="singlenamesearch" data-id="T" href="#">T</a></li>
                            <li><a class="singlenamesearch" data-id="U" href="#">U</a></li>
                            <li><a class="singlenamesearch" data-id="V" href="#">V</a></li>
                            <li><a class="singlenamesearch" data-id="W" href="#">W</a></li>
                            <li><a class="singlenamesearch" data-id="X" href="#">X</a></li>
                            <li><a class="singlenamesearch" data-id="Y" href="#">Y</a></li>
                            <li><a class="singlenamesearch" data-id="Z" href="#">Z</a></li>
                        </ul>
                        <input type="hidden" id="hdn_singlenamesearch">
                    </div>
                </div>
                <span class='qrButtons ms-lg-2 d-inline-flex text-start mt-0 mb-md-0 mb-3'>
                    <!-- For Desktop and mobile -->
                    <div class="col-lg-6 col-md-4 col-6 ps-0 pe-1 d-xl-block d-none">
                        <a href="#" class="btn btn-light btn-sm btn-icon px-md-3 w-100">
                            <i class='fa fa-envelope me-1'></i> Email QR Codes
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6 ps-1 pe-0  d-xl-block d-none">
                        <a href="#" class="btn btn-light btn-sm btn-icon px-md-3 w-100 vendorprint">
                            <i class='fa fa-print me-1'></i> Print QR Codes
                        </a>
                    </div>
                    <!-- For Tablet -->
                    <div class="col-12 d-lg-block d-xl-none ms-lg-0 ms-2">
                        <div class="dropdown">
                            <button class="btn btn-light btn-sm py-1" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='fa fa-share'></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#"><i class='fa fa-envelope me-2'></i> Email QR
                                        Codes</a>
                                </li>
                                <li><a class="dropdown-item vendorprint" href="#"><i class='fa fa-print me-2'></i> Print QR
                                        Codes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </span>
                <div class='pos-relative w-sm-100 filterMoreCont' id='filterCont'>
                    <div class="filter-fade" style='display:none'></div>
                    <a href="#!" class='btn btn-sm btn-light mr-2 w-sm-100 filterMore mb-md-0 mb-3 ms-md-2'><i
                            class='fa fa-filter me-1'></i> Filter by</a>
                    <div class='filterDropdown dropLeft'>
                        <div class="row whiteBox text-start">
                            <div class="col-12 text-right">
                                <div class='d-flex justify-content-between'>
                                    <p class='mb-3'>FILTERS</p>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <label for="" class='filterLabel text-start'>Filter By Date</label>
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                    </div>
                                    <div class="input-daterange input-group" id="datepicker6"
                                        data-date-format="mm/dd/yyyy" data-date-autoclose="true"
                                        data-provide="datepicker" data-date-container='#datepicker6'>
                                        <input type="text" class="form-control ms-0" name="start" id="fltr_start_date"
                                            placeholder="Start Date" />
                                        <input type="text" class="form-control" name="end" id="fltr_end_date" placeholder="End Date" />
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-12 mt-3">
                                <label for="" class='filterLabel text-start'>Filter by Status</label>
                                <div class='w-100'>
                                    <select class="form-control select2 offiSel w-100 mb-0" id="flt_status" data-placement='below'>
                                        <option value="1">All</option>
                                        <option value="2">Online</option>
                                        <option value="3">Offline</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-12 mt-4">
                                <div class="row">
                                    <div class="col-6 pe-1">
                                        <a href="#" class="btn btn-primary w-100 cancelFilter text-white" id="flt_app">Apply
                                            Filters</a>
                                    </div>
                                    <div class="col-6 ps-1">
                                        <a href="#" class="btn btn-light w-100" id="flt_res">Reset</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tableCont  exhTable">
                    <form target="_blank" action="{% url 'vendor_detail_print' %}" method="post" id="vendor_print">
                        {% csrf_token %}
                        <input type="hidden" name="vendor_ids" id="vendor_ids" value="">
                    <table id="exhiTable" class="table table-centered datatable responsive nowrap"
                        data-bs-page-length="6" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="table-light">
                            <tr>
                                <th class="no-sort all" data-orderable="false" style="width: 20px;">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input head_check" type="checkbox" id="formCheck1">
                                    </div>
                                </th>
                                <th class="all">Name</th>
                                <th class="desktop tablet-l">Date</th>
                                <th class="desktop tablet">Company Name</th>
                                <th class="desktop">Mobile Number</th>
                                <th class="">Email</th>
                                <th class="desktop">Address</th>
                                <th class="no-sort all" data-orderable="false">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td>
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="formCheck2">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="activity-icon avatar-xs me-2">
                                            <span class="avatar-title bg-soft-warning text-warning br-5">KJ</span>
                                        </div>
                                        Kevin Jose
                                    </div>
                                </td>
                                <td>20-11-2020 </td>
                                <td>Hexagon IT Solutions </td>
                                <td>242525252525 </td>
                                <td>mohan@hexagonitsolutions.com </td>
                                <td>test</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn fs-15 py-0" data-toggle="dropdown">
                                            <i class="fa fa-ellipsis-h "></i>
                                        </button>
                                        <ul class="dropdown-menu show action-dd" role="menu"
                                            data-popper-placement="bottom-end">
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-violet-transparent'><i
                                                            class='fa fa-eye'></i></span> View</a></li>
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-green-transparent'><i
                                                            class=' fas fa-pencil-alt'></i></span> Edit</a></li>
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-brown-transparent'><i
                                                            class='fa fa-print'></i></span> Print QR Code</a></li>
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-brown-transparent'><i
                                                            class='fa fa-envelope'></i></span> Send QR code via
                                                    email</a>
                                            </li>
                                            <li><a class="text-dark tabDelete"><span
                                                        class='avatar avatar-xs brround bg-red-transparent'><i
                                                            class='fa fa-trash'></i></span> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="formCheck2">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="activity-icon avatar-xs me-2">
                                            <span class="avatar-title bg-soft-primary text-primary br-5">KJ</span>
                                        </div>
                                        Kevin Jose
                                    </div>
                                </td>
                                <td>19-12-2020 </td>
                                <td>PR </td>
                                <td>242525253455 </td>
                                <td>perichiappan@hexagonitsolutions.com </td>
                                <td>test</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn fs-15 py-0" data-toggle="dropdown">
                                            <i class="fa fa-ellipsis-h "></i>
                                        </button>
                                        <ul class="dropdown-menu show action-dd" role="menu"
                                            data-popper-placement="bottom-end">
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-violet-transparent'><i
                                                            class='fa fa-eye'></i></span> View</a></li>
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-green-transparent'><i
                                                            class=' fas fa-pencil-alt'></i></span> Edit</a></li>
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-brown-transparent'><i
                                                            class='fa fa-print'></i></span> Print QR Code</a></li>
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-brown-transparent'><i
                                                            class='fa fa-envelope'></i></span> Send QR code via
                                                    email</a>
                                            </li>
                                            <li><a class="text-dark tabDelete"><span
                                                        class='avatar avatar-xs brround bg-red-transparent'><i
                                                            class='fa fa-trash'></i></span> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="formCheck2">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="activity-icon avatar-xs me-2">
                                            <span class="avatar-title bg-soft-success text-success br-5">KJ</span>
                                        </div>
                                        Kevin Jose
                                    </div>
                                </td>
                                <td>23-12-2020 </td>
                                <td>Test </td>
                                <td>989525253455 </td>
                                <td>shafiqueahmed254@gmail.com </td>
                                <td>test</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn fs-15 py-0" data-toggle="dropdown">
                                            <i class="fa fa-ellipsis-h "></i>
                                        </button>
                                        <ul class="dropdown-menu show action-dd" role="menu"
                                            data-popper-placement="bottom-end">
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-violet-transparent'><i
                                                            class='fa fa-eye'></i></span> View</a></li>
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-green-transparent'><i
                                                            class=' fas fa-pencil-alt'></i></span> Edit</a></li>
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-brown-transparent'><i
                                                            class='fa fa-print'></i></span> Print QR Code</a></li>
                                            <li><a class="text-dark"><span
                                                        class='avatar avatar-xs brround bg-brown-transparent'><i
                                                            class='fa fa-envelope'></i></span> Send QR code via
                                                    email</a>
                                            </li>
                                            <li><a class="text-dark tabDelete"><span
                                                        class='avatar avatar-xs brround bg-red-transparent'><i
                                                            class='fa fa-trash'></i></span> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr> -->

                        </tbody>
                    </table>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end row -->

{% endblock content %}

{% block extra_javascript %}
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Sweet Alerts js -->
<script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}"></script>

<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>

<script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

<!-- Form validation -->
<!-- <script src="{% static 'js/pages/form-validation.init.js' %}"></script> -->

<script>

    $(document).ready(function () {
        $(".alphaUl a").click(function(){
            $(".alphaUl li").removeClass('active');
            $(this).closest('li').addClass('active');
        })
        $(".singlenamesearch,.singleall").click(function() {
            $("#hdn_singlenamesearch").val('')
            let lett = $(this).attr('data-id')
            $("#hdn_singlenamesearch").val(lett)
            $('#exhiTable').DataTable().ajax.reload();
        })
        $(window).on('resize', function () {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust()
                .responsive.recalc();
        })
        $(document).on("click", "#flt_res", function() {
            $('.input-daterange input').each(function() {
                $(this).datepicker('clearDates');
            });
            $('#flt_status').val('').select2();
            $('#exhiTable').DataTable().ajax.reload();
            $('.filterDropdown').removeClass('active')
            $('.dropdown-menu[data-parent]').addClass('show')
            $('.filter-fade').hide()
        });
        $(document).on("click", "#flt_app", function() {
            $('#exhiTable').DataTable().ajax.reload();
        })
        var table = $('#exhiTable').DataTable({
            buttons: [{ extend: 'print', text: '<span class=" d-none d-md-inline">Print</span><span class="fa fa-print d-md-none d-inline fs-14"></span>', className: 'dtExportButton btn-primary  btn-sm waves-effect waves-light ms-2' },],
            dom: "<'row'<'col-xl-10 col-lg-8 col-md-8'f><'col-xl-2 col-lg-3 col-md-4'l>>t<'row'<'col-md-6'i><'col-md-6'p>>r",
            language: {
                paginate: {
                    previous: "<i class='mdi mdi-chevron-left'>",
                    next: "<i class='mdi mdi-chevron-right'>"
                }
            },
            "ajax": {
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                url: "{% url 'exhibitor_registration' %}",
                type: "POST",
                "data": function(data) {
                    data.module = 'list';
                    data.singlenamesearch = $('#hdn_singlenamesearch').val();
                    data.fltr_start_date = $('#fltr_start_date').val();
                    data.fltr_end_date = $('#fltr_end_date').val();
                    data.flt_status = $('#flt_status').val();
                },
            },
            drawCallback: function () {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded"),
                    $(".dataTables_length select").addClass("form-select form-select-sm")
            }
        });
        $('#filterCont').appendTo('#exhiTable_wrapper #exhiTable_filter');
        table.buttons().container()
            .appendTo('#exhiTable_wrapper #exhiTable_filter');
        $('.qrButtons').appendTo('#exhiTable_wrapper #exhiTable_filter')

        $('.select2').select2()
    })

    $('.filterMore').click(function () {
        $('.filterDropdown').toggleClass('active')
        $('.filter-fade').toggle()
    })

    $('.cancelFilter, .filter-fade').click(function () {
        $('.filterDropdown').removeClass('active')
        $('.dropdown-menu[data-parent]').addClass('show')
        $('.filter-fade').hide()

    })

    $(document).on('click', '.tabDelete', function () {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#6259ca',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your registration has been deleted.',
                    'success'
                )
            }
        })
    })


    $(document).click(function (event) {
        $('.dropdown-menu[data-parent]').hide();
    });

    $(document).on('click', '.tableCont [data-toggle="dropdown"]', function () {

        if ($('body').hasClass('modal-open')) {
            throw new Error("This solution is not working inside a responsive table inside a modal, you need to find out a way to calculate the modal Z-index and add it to the element")
            return true;
        }

        let datUl = $(this).parent().attr('data-attachedUl')
        if ($(`[data-parent='${datUl}']`).hasClass('show')) {
            $('.action-dd').addClass('show')
            $(`[data-parent='${datUl}']`).removeClass('show')
            $('.filter-fade').show()
        } else {
            $('.action-dd').addClass('show')
            $(`[data-parent='${datUl}']`).addClass('show')
            $('.filter-fade').hide()
        }



        var $buttonGroup = $(this).parent();
        if (!$buttonGroup.attr('data-attachedUl')) {
            var ts = +new Date;
            var $ul = $(this).siblings('ul.dropdown-menu');
            $ul.attr('data-parent', ts);
            $buttonGroup.attr('data-attachedUl', ts);
            $(window).resize(function () {
                // $ul.css('display', 'none').data('top');
            });
        } else {
            $ul = $('[data-parent=' + $buttonGroup.attr('data-attachedUl') + ']');
        }
        if (!$buttonGroup.hasClass('show')) {
            // $ul.hide()
            // return;
            var $ul = $(this).siblings('ul.dropdown-menu');
            $ul.addClass('show')
        }
        dropDownFixPosition($(this).parent(), $ul);
        function dropDownFixPosition(button, dropdown) {
            dropdown.addClass('action-dd')
            dropdown.removeClass('show')
            dropdown.appendTo('body');
            var dropDownTop = button.offset().top + button.outerHeight();
            dropdown.css('top', ` ${dropDownTop}px`);
            dropdown.css('left', (button.offset().left - 150) + "px");
            dropdown.css('position', "absolute");
            dropdown.css('heigt', dropdown.height());
            console.log(dropdown.attr('style'))
        }
    });
    $(document).on("click",".head_check",function(){
        if($(this).prop("checked")==true){
            $(".child_check").prop("checked",true)
        }
        else{
            $(".child_check").prop("checked",false)
        }
    })
    $(document).on("click",".qrcode_single",function(){
        var ven_id=$(this).attr('data-id')
        $("#vendor_ids").val(ven_id)
        $("#vendor_print").submit();
        $("#vendor_ids").val('')
    });
    $(document).on("click",".vendorprint",function(){
        if($(".child_check").prop("checked")==true){
            $("#vendor_print").submit(); 
        }
        else{
            Swal.fire(
                    'Warning!',
                    'Please select atleast one transactions',
                    'warning'
                )
        }
    })


</script>

{% endblock extra_javascript %}