{% load static %}
{% block content %}


<div class='pdfView' id='pdfView'
    style="margin: 20px auto;padding: 20px;border-radius: 5px;background: #fff;width: 100%;min-width: 600px;max-width: 1000px;">

    <table border="0" align="center" cellpadding="0" cellspacing="0"
        style='margin: 10px auto;width: 100%;min-width: 600px;max-width: 1000px;margin: 0 auto;background: #fff;'>
        <tbody>
            <tr>
                <td class='text-start' style='width: 50%;padding-bottom: 15px; padding-top: 15px;'>
                    <img src="/static/images/uda-logo-blue.png" style='height: 80px;max-width: 350px;' alt="Logo">
                </td>
                <td style='width: 50%;padding-bottom: 15px; padding-top: 15px;'>
                    <h5 style='font-size: 22px;font-weight: 600;text-align: right;font-family: Nunito, sans-serif'>
                        Transaction Details</h5>
                </td>
            </tr>
            <tr>
                <td colspan='2'>
                    <div style='margin: 0 -15px;'>
                        <table border='0'
                            style='border-collapse: initial;border-spacing: 15px;margin-top: 15px;width:100%;'>
                            <tbody>
                                <tr>
                                    <td
                                        style='border: 1px solid #ddd;border-radius: 5px; padding: 20px 25px; min-height: 300px; width: 50%;    vertical-align: top;'>
                                        <div>
                                            <h4
                                                style=" font-size: 19px;color: #000;margin-bottom: 10px;font-family: Nunito, sans-serif">
                                                <strong>User
                                                    Details</strong>
                                            </h4>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif ">
                                                <strong style='color: #000'>Practice Name :</strong> Hexagon
                                            </p>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif ">
                                                <strong style='color: #000'>Name
                                                    :</strong> Daks Test
                                            </p>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif">
                                                <strong style='color: #000'>Phone
                                                    :</strong> (801) 362-1597
                                            </p>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif">
                                                <strong style='color: #000'>E-Mail:</strong> daks@hexagonitsolutions.com
                                            </p>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif">
                                                <strong style='color: #000'>Address :</strong> 12884 Frontrunner Blvd
                                                #140,
                                                Draper, UT.
                                            </p>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif">
                                                <strong style='color: #000'>Zip
                                                    Code :</strong> 84020
                                            </p>
                                        </div>
                                    </td>
                                    <td
                                        style='border: 1px solid #ddd;border-radius: 5px; padding: 20px 25px; min-height: 300px;width: 50%;    vertical-align: top;'>
                                        <div>
                                            <h4
                                                style=" font-size: 19px;color: #000;margin-bottom: 10px;font-family: Nunito, sans-serif">
                                                <strong>Transaction
                                                    Details</strong>
                                            </h4>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif">
                                                <strong style='color: #000'>Transaction ID :</strong> test
                                            </p>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif">
                                                <strong style='color: #000'>Transaction Date :</strong> 09-16-2021
                                            </p>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif">
                                                <strong style='color: #000'>Amount
                                                    ($) :</strong> 120
                                            </p>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif">
                                                <strong style='color: #000'>Payment Mode :</strong> Cash
                                            </p>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif">
                                                <strong style='color: #000'>Payment Details :</strong> test
                                            </p>
                                            <p
                                                style="margin-bottom: 5px;font-size: 15px;font-family: Nunito, sans-serif">
                                                <strong style='color: #000'>Memo
                                                    :</strong> test from Hexagon
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class='mb-0 text-center py-1'
                        style='font-size: 22px;color: #000;margin-top: 25px;margin-bottom:25px;'>
                        <strong>UDA - Fall
                            Registration</strong>
                    </h4>
                </td>
            </tr>
            <tr>
                <td colspan='2'>
                    <table style="width: 100%;border-bottom: 0;border-left: 0;margin-top: 10px;"
                        class="table-bordered table">
                        <thead>
                            <tr>
                                <th class='bg-color text-uppercase'
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; color: #000; border: 1px solid #ddd !important;background: #7164d530 !important;color: #454545;'>
                                    <strong>SL
                                        NO</strong>
                                </th>
                                <th class='bg-color text-uppercase'
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; color: #000; border: 1px solid #ddd !important;background: #7164d530 !important;color: #454545;'>
                                    <strong>NAME</strong>
                                </th>
                                <th class='bg-color text-uppercase'
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; color: #000; border: 1px solid #ddd !important;background: #7164d530 !important;color: #454545;'>
                                    <strong>ADA
                                        Number</strong>
                                </th>
                                <th class='bg-color text-uppercase'
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; color: #000; border: 1px solid #ddd !important;background: #7164d530 !important;color: #454545;'>
                                    <strong>EMAIL</strong>
                                </th>
                                <th class='bg-color text-uppercase'
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; color: #000; border: 1px solid #ddd !important;background: #7164d530 !important;color: #454545;'>
                                    <strong>Fee</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="pnt">
                            <tr>
                                <td colspan="5" class="for-blue"
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; border: 1px solid #ddd !important;'>
                                    UDA MEMBER
                                    DENTIST ($95)</td>
                            </tr>
                            <tr class="adj">
                                <td
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; border: 1px solid #ddd !important;'>
                                    1</td>
                                <td
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; border: 1px solid #ddd !important;'>
                                    Daks Test
                                </td>
                                <td
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; border: 1px solid #ddd !important;'>
                                    456 73
                                    2123
                                </td>
                                <td
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; border: 1px solid #ddd !important;'>
                                    daks@hexagonitsolutions.com</td>
                                <td
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; border: 1px solid #ddd !important;'>
                                    $120</td>
                            </tr>
                            <tr style="border: 0;">
                                <td style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; border: 1px solid #ddd !important;'
                                    colspan="3">
                                </td>
                                <td
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; border: 1px solid #ddd !important;'>
                                    Total</td>
                                <td
                                    style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; border: 1px solid #ddd !important;'>
                                    $120</td>
                            </tr>
                            <tr style="border: 0;">
                                <td style='font-family: Nunito, sans-serif;font-size: 15px;padding: 10px; border: 1px solid #ddd !important;'
                                    colspan="3">
                                </td>
                                <td
                                    style="font-family: Nunito, sans-serif;font-size: 15px;padding: 10px;font-weight:600;border-bottom: 1px solid #eaedf1;border: 1px solid #ddd !important;">
                                    Grand Total</td>
                                <td
                                    style="font-family: Nunito, sans-serif;font-size: 15px;padding: 10px;font-weight:600;border-bottom: 1px solid #eaedf1;border: 1px solid #ddd !important;">
                                    $120</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan='2'
                    style='font-size: 17px;padding-top: 24px;text-align:center;font-family: Nunito, sans-serif'>
                    *Copyright © 2021 Utah Dental Association. Reproduction or republication strictly
                    prohibited without
                    prior written permission.
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- </div>

        </div>
    </div>
</div> -->
<!-- end row -->

{% endblock content %}

